$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'compass/css3';
@import 'mobile';

$paige-green: #8ab643;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

form[novalidate] input,
form[novalidate] select{
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}

input[required].ng-pristine,
select[required].ng-pristine{
  border-color: #e74c3c;
}

input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty{
  border-color: #e74c3c;
}

input.ng-valid.ng-dirty,
select.ng-valid.ng-dirty{
  border-color: $paige-green;
}


#page {
  max-width: 960px;
  margin: auto;
}

.logo{
  display: inline-block;
  width: 94px;
  height: 35px;
  margin-right: 2px;
  background-image: url(../images/paige-logo.png);
}

.accent{
  color: $paige-green;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  padding-left: 10px;
}

/* Custom page footer */
footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  font-size: 0.95rem;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* BootStrap overrides */
.nav{
  li{
    display: inline-block;
    font-size: 1.1em;
    margin: .5rem;
    a{
      color: #999;
      font-variant: small-caps;
      &:hover{
        background-color: transparent;
        color: $paige-green;
      }
      &:active{
        outline: none;
      }
    }
  }
  li.active{
    border: none;
    a{
      color: $paige-green;
      background-color: transparent;
      border: none;
      border-bottom: solid 1px $paige-green;

      &:focus{
        outline: none;
      }
    }
  }
}

.jumbotron{
  background-image: url(../images/Surge_burst.png);
  small {
    color: #FFF;
  }
}

/* Welcome::Main Page */
.quick-links{
  text-align: center;
  .quick-link {
    width: 32%;
    display: inline-block;
    text-align: center;
    padding-top: 125px;
    padding-bottom: 10px;
    vertical-align: text-bottom;
    color: #EEE;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    border: solid 1px #EEE;
    @include border-radius(8px);
    background-color: rgba(0,0,0,0.3);
    background-position: center;
    background-repeat: no-repeat;
    &.education {
      background-image: url(../images/education.png);
      &:hover{
        background-image: url(../images/education_over.png);
      }
    }
    &.open-source{
      background-image: url(../images/osi.png);
      &:hover{
        background-image: url(../images/osi_over.png);
      }
    }
    &.community{
      background-image: url(../images/community.png);
      &:hover{
        background-image: url(../images/community_over.png);
      }
    }
    &:hover{
      text-decoration: none;
      background-color: rgba(0,0,0,0.05);
      color: $paige-green;
    }
  }
}

.register-description,
.narrow-form {
  width: 48%;
}


  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
