@import 'compass/css3';

$paige-green: #8ab643;

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px){

  .register-description.pull-left {
    width: 100%;
  }

  .form.narrow-form.pull-right {
    width: 100%;
  }

  .nav.pull-right{
    li{
      font-size: .6em;
      border: solid 1px $paige-green;
      @include border-radius(8px);
      a{
        padding: .5rem;
      }
      &.active{
        background-color: $paige-green;
        a{
          color: #FFF;
          border-bottom: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .header{
    border-bottom: none;
    &> * {
      width: 100%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 480px){
  .quick-links{
    a.quick-link{
      display: block;
      width: 80%;
      margin: 1rem auto;
    }
  }
}