<div class="jumbotron">
    <h2>Let Us Know<br/>
        <small>When & where you'd like to learn</small></h2>
</div>

<div class="row marketing">
    <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
            <label>Name</label>

            <input type="text" name="name" class="form-control" ng-model="user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
                A name is required
            </p>
        </div>
    </form>
</div>
